extends ../layouts/default

block content
	.container.no-padding
		#shopping-cart-container

block js
	script(type='text/javascript' src='https://checkout.stripe.com/checkout.js')
	script(type='text/javascript').
		window.renderShoppingCart(document.getElementById('shopping-cart-container'), !{ JSON.stringify(cartOptions) })