extends ../layouts/default

block content
	.container-fluid.home-image
		.container
			.tag-line Handcrafted<br/>for your home

	.container.collections
		.collection
			a.collection-image.living(href="/store/living-room")
				.tag-line Living

		.collection
			a.collection-image.kitchen(href="/store/kitchen")
				.tag-line Kitchen
		.collection
			a.collection-image.bedding(href="/store/bedroom")
				.tag-line Bedding

	.container.content
		.col-md-8.col-md-push-2
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	.container-fluid.home-banner-image
	
	//- .container: .jumbotron
	//- 	img(src='/images/logo.svg', width='160')
	//- 	h1 Welcome
	//- 	p This is your new <a href='http://keystonejs.com' target='_blank'>KeystoneJS</a> website.
	//- 	p It includes the latest versions of
	//- 		| <a href='http://getbootstrap.com/' target='_blank'>Bootstrap</a>
	//- 		| and <a href='http://www.jquery.com/' target='_blank'>jQuery</a>.
	//- 	p Visit the <a href='http://keystonejs.com/guide' target='_blank'>Getting Started</a> guide to learn how to customise it.
	//- 	hr
	//- 	if user && user.canAccessKeystone
	//- 		p
	//- 			a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
	//- 	else
	//- 		p We have created a default Admin user for you with the email <strong>job@colovo.com</strong> and the password <strong>sheeps</strong>.
	//- 		p
	//- 			a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
	//- 			|  to use the Admin UI.
	//- 	hr
	//- 	p Remember to <a href='https://github.com/keystonejs/keystone' target='_blank'>Star KeystoneJS on GitHub</a> and
	//- 		| <a href='https://twitter.com/keystonejs' target='_blank'>follow @keystonejs</a> on twitter for updates.
